.SplitPane {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.Pane {
    overflow: auto;
    height: 100%;
}

.Divider {
    width: 10px;
    background: gray;
    cursor: ew-resize;
}